{% load static %}
<!DOCTYPE html>
<html lang="en">

  {% include 'includes/head_refrence.html' %}

  <body>

    <!-- ***** Preloader Start ***** -->
    <div id="preloader">
        <div class="jumper">
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>  
    <!-- ***** Preloader End ***** -->

    <!-- Header -->
    {% include 'includes/header.html' %}
    {% block content %}
    {% endblock %}
    {% include 'includes/footer.html' %}

  {% include 'includes/footer_refrence.html' %}
  </body>
</html>